body {
    background-color: black;
    background-image: url(../Media/PLACEHOLDER.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#title {
    font-size: 65px;
    margin: 25px auto;
    text-align: center;
    font-style: italic;
    font-family: 'Amatic SC', cursive;
}

#menu {
    margin: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-items {
    padding: 10px;
    margin: 12px 5px;
    background-color: #2A2A2A;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    width: 5%;
    outline: 2px solid black;
    display: inline;
}

.menu-items:hover {
    background-color: #6c0128;
    color: white;
}

.menu-items a {
    text-decoration: none;
    color: white;
}

.menu-items a:hover {
    text-decoration: none;
    color: white;
}

#audio_button {
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 35px solid #6C0128;
	border-bottom: 15px solid transparent;
	border-right: transparent;
	background-color: transparent;
}

#audio_button:hover {
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-left: 35px solid #A20740;
	border-bottom: 15px solid transparent;
	border-right: transparent;
	background-color: transparent;
}

#button_div {
    text-align: center;
}

#main {
    flex: auto;
    font-family: 'Bellefair', serif;
}

#background {
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.3);
    font-size: 20px;
    margin: 0 3% 5% 3%;
}

#poem_holder {
    display: flex;
    flex-wrap: wrap;
}

#poem {
    margin-left: 12%;
    background: rgba(0,0,0,0.3);
    font-size: 28px;
}

.heartbeat_line {
    color: #A20740;
}

.stanza {
    margin: 20px auto;
}

.line {
    margin: 2px auto;
}

.on {
    background-color: #E01E47;
}

#line_info {
    color: white;
    font-size: 28px;
    display: flex;
    position: fixed;
    right: 12%;
    width: 300px;
}

.line_info_point {
    display: none;
    background: rgba(0,0,0,0.3);
}

.credit {
    font-size: 18px;
    color: #A0003A;
    text-align: right;
}

.credit a {
   color: #CE0952; 
   text-decoration: none;
}

.credit a:hover {
   color: white; 
   text-decoration: none;
}

/*#themes {
    float: right;
    padding: 20px;
}*/